.wrapper {
    margin: 0 auto;
    width: 1240px;
}

.shortcut {
    height: 52px;
    background-color: #333;
}

.shortcut .wrapper {
    display: flex;
    justify-content: flex-end;
    height: 52px;
    line-height: 52px;
}

.shortcut .wrapper ul {
    display: flex;
}

.shortcut .wrapper ul li a {
    padding: 0 15px;
    border-right: 1px solid #999;
    font-size: 14px;
    color: #fff;
}

.shortcut .wrapper ul li:last-child a {
    border-right: 0;
}

.shortcut .wrapper ul li .iconfont {
    margin-right: 4px;
    vertical-align: middle;
}

.shortcut .wrapper .login {
    color: #5EB69C;
}

.header {
    display: flex;
    margin-top: 22px;
    margin-bottom: 22px;
    height: 88px;
    /* background-color: pink; */
}

.header .logo {
    margin-right: 40px;
    width: 200px;
    height: 88px;
}

.header .logo a {
    display: block;
    width: 200px;
    height: 88px;
    background-image: url(../images/logo.png);
    font-size: 0;
}

.header .nav {
    margin-top: 33px;
    margin-right: 28px;
}

.header .nav ul {
    display: flex;
}

.header .nav ul li {
    margin-right: 47px;
}

.header .nav ul li a {
    padding-bottom: 10px;
}

.header .nav ul li a:hover {
    color: #5EB69C;
    border-bottom: 2px solid #5EB69C;
}

.header .search {
    display: flex;
    margin-top: 33px;
    margin-right: 45px;
    width: 170px;
    height: 34px;
    border-bottom: 2px solid #f4f4f4;
}

.header .search .iconfont {
    margin-right: 8px;
    font-size: 18px;
    color: #ccc;
}

.header .search input {
    /* 浏览器优先生效 input 标签的默认宽度，所以 flex：1 不生效 */
    /* 解决办法：重置 input 默认宽度 → width：0 */
    flex: 1;
    width: 0;
}

.header .search input::placeholder {
    font-size: 16px;
    color: #ccc;
}