.banner {
    height: 500px;
    background-color: #F5F5F5;
}

.banner .wrapper {
    position: relative;
    overflow: hidden;
    height: 500px;
}

.banner .pic {
    display: flex;
    width: 3720px;
}

.banner .subnav {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.42);
}

.banner .subnav li {
    padding-left: 30px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    cursor: pointer;
}

.banner .subnav li:hover {
    background-color: #00BE9A;
}

.banner .subnav li a {
    margin-right: 10px;
    font-size: 14px;
    color: #fff;

}

.banner .subnav li .classify {
    font-size: 16px;
    margin-right: 15px;
}


.banner .subnav li .iconfont {
    font-size: 14px;
    color: #fff;
}

.banner .circle-index {
    display: flex;
    position: absolute;
    right: 16px;
    bottom: 8px;
}

.banner .circle-index li {
    margin-left: 8px;
    width: 22px;
    height: 22px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    border-radius: 50%;
    cursor: pointer;
}

.banner .circle-index li i {
    display: block;
    margin: 4px;
    width: 14px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.banner .circle-index .active {
    background-color: rgba(255, 255, 255, 0.5);
}

.banner .circle-index .active i {
    background-color: #fff;
}

.title {
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    height: 42px;
}

.title .left {
    display: flex;
}

.title .left h3 {
    margin-right: 15px;
    font-size: 30px;
}

.title .left p {
    align-self: flex-end;
    font-size: 14px;
    color: #a1a1a1;
}

.title .right .more {
    line-height: 42px;
    color: #a1a1a1;
}

.title .right .iconfont {
    margin-left: 10px;
}

.body ul {
    display: flex;
    justify-content: space-between;
}

.body li {
    width: 304px;
    height: 404px;
    background-color: #EEF9F4;
}

.body .pic {
    width: 304px;
    height: 304px;
}

.body .text {
    text-align: center;
}

.body .text h4 {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 20px;
}

.body .text p {
    font-size: 18px;
    color: #AA2113;
}

.body .text p .price {
    margin-left: 3px;
    font-size: 22px;
}