*,
::after,
::before {
  box-sizing: border-box;
}
body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, PingFangSC-Regular, "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
}
img {
  vertical-align: bottom;
}
ul {
  list-style-type: none;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background-color: #f9fafb;
}
header {
  padding: 0 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 13.33333333vw;
  background-color: #fff;
}
header .logo {
  height: 13.33333333vw;
}
header a {
  width: 21.33333333vw;
  height: 8vw;
  line-height: 8vw;
  border-radius: 4vw;
  background-color: #ffe31b;
  text-align: center;
}
.search {
  margin-top: 13.33333333vw;
  padding: 2.66666667vw 4vw;
  height: 13.86666667vw;
}
.search .text {
  height: 8.53333333vw;
  line-height: 8.53333333vw;
  text-align: center;
  background-color: #f2f4f5;
  border-radius: 4.26666667vw;
  font-size: 3.73333333vw;
  color: #a1a4b3;
}
.search .text .icon-sousuo {
  font-size: 4.26666667vw;
}
.banner {
  padding: 0 4vw;
  height: 28.8vw;
}
.banner li {
  height: 28.8vw;
}
.banner li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.06666667vw;
}
.list {
  padding: 5.33333333vw 4vw 0;
}
.list .content li {
  display: flex;
  margin-bottom: 4.26666667vw;
  height: 28vw;
  background-color: #fff;
  border-radius: 2.66666667vw;
}
.list .content li img {
  margin-right: 5.33333333vw;
  height: 28vw;
  width: 28vw;
  border-radius: 2.66666667vw;
}
.list .content li a {
  display: block;
  font-size: 3.2vw;
  color: #a1a4b3;
  line-height: 1.8;
}
.list .content li .more {
  font-size: 3.73333333vw;
  color: #333;
}
.list .content li .more .icon-right {
  font-size: 4.26666667vw;
}
.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.26666667vw;
  height: 6.66666667vw;
  line-height: 6.66666667vw;
}
.title h4 {
  font-size: 5.33333333vw;
}
.title a {
  font-size: 3.2vw;
  color: #a1a4b3;
}
.recommend {
  margin: 5.33333333vw 4vw 0;
}
.recommend ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4.26666667vw;
}
.recommend ul li {
  width: 28vw;
  height: 42.4vw;
}
.recommend ul li .pic {
  position: relative;
}
.recommend ul li .pic img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 2.66666667vw;
}
.recommend ul li .pic .cover {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 0 2.66666667vw;
}
.download {
  padding-left: 4vw;
  padding-right: 2.66666667vw;
  display: flex;
  left: 4vw;
  bottom: 8vw;
  align-items: center;
  position: fixed;
  width: 92vw;
  height: 12vw;
  background-color: #fff;
  border-radius: 6vw;
}
.download img {
  margin-right: 2.66666667vw;
  width: 9.6vw;
  height: 9.6vw;
}
.download p {
  flex: 1;
}
.download span {
  width: 8.53333333vw;
  height: 8.53333333vw;
  border-radius: 4.26666667vw;
  background-color: #f2f3f5;
  text-align: center;
  line-height: 8.53333333vw;
}
